<?php

$config = [
	'sqlHost' => 'localhost',
	'sqlUser' => 'sqlUser',
	'sqlPassword' => 'sqlPassword',
	'sqlDatabase' => 'sqlDatabase',
	'ftpHost' => 'ftpHost',
	'ftpUser' => 'ftpUser',
	'ftpPassword' => 'ftpPassword',
	'defaultAccount' => 1,
];
